
.c02__rsdmrl__background {
    height: 768px;
    background: $color-icon-default;
    display: none;
    position: absolute;
    width: 100%;

    .c02__rsdmrl__container--white {
        width: 681px;
        height: 513px;
        background: $color-background-base;
        display: inline-block;
        border-radius: 10px;
        margin-top: 133px;
        margin-left: 172px;
        text-align: center;

        .c02__rsdmrl__txt--date {
            font-size: 18px;
            display: inline-block;
            vertical-align: top;
            margin-left: 40px;
            margin-top: 52px;

        }

        .c02__rsdmrl__reservation-logo {
            width: 80px;
            height: 80px;
            margin-left: 363px;
            margin-top: 15px;

        }

        .c02__rsdmrl__table__wrapper {
            width: 601px;
            margin-left: 40px;
            position: relative;
            bottom: 4px;


            .c02__rsdmrl__table--left {
                width: 151px;
                height: 40px;
                background: $color-thin-green;
                font-size: 12px;
                padding: 10.5px 60px 10.5px 10px;
            }

            .c02__rsdmrl__table--right {
                padding-left: 20px;
                height: 40px;
                font-size: 12px;
            }
        }

        .c02__rsdmrl__button--white {
            margin-top: 28px;
        }





    }

}

.c02__rsdm__header__pull-down {
    left: 10.5px;
}

.c02__rsdm__background--green {
    padding: 10px;
    background: #E5EFCA;
    text-align: center;

    .c02__rsdm__background--white {
        width: 1004px;
        height: 698px;
        background: $color-background-base;
        border-radius: 5px;
        padding: 11px 10px 22px 10px;

        .c02__rsdm__button-wrapper {
            height: 49px;

            .c02__rsdm__arrow-button {
                margin-top: 12px;
                width: 44px;
                height: 22px;
                font-size: 10px;
            }

            .c02__rsdm__arrow-button--previous {
                padding: 4.6px 8px 7px 13px;
                position: relative;
                right: 446px;

                &::after {
                    position: absolute;
                    border: 0px;
                    border-bottom: solid 1px #6F8D1B;
                    border-left: solid 1px #6F8D1B;
                    transform: rotate(45deg) translateY(-50%);
                    width: 5px;
                    height: 5px;
                    top: 45%;
                    left: 6px;
                }
            }

            .c02__rsdm__arrow-button--next {
                padding: 4.6px 13px 7px 9px;
                position: relative;
                left: 446px;

                &::after {
                    content: "";
                    position: absolute;
                    border: 0px;
                    border-top: solid 1px #6F8D1B;
                    border-right: solid 1px #6F8D1B;
                    transform: rotate(45deg) translateY(-50%);
                    width: 5px;
                    height: 5px;
                    top: 45%;
                    right: 8px;
                }
            }
        }

    }
}
.c02-month-modal{
    position: absolute;
    top: 123px;
    z-index: 3;
}