//**************************************//
//********* 以下、パス指定あり *********//
//**************************************//

// D05-inner
.D05-inner {
  background-color: $color-shop-inner;
  padding: 10px 10px 100px;
}

//D05-shop-tab
.D05-shop-tab__inner {
  display: flex;
  flex-wrap: wrap;
}
.D05-shop-tab__customer,
.D05-shop-tab__pet {
  line-height: 1;
  display: block;
  color: $color-main;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 32px 11px 48px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
}
.D05-shop-tab__customer {
  background: #fff;
  margin-right: 4px;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    //**************************************//
    //********* 以下、パス指定あり *********//
    //**************************************//
    background-image: url(/image/common/shop-tab-icon-customer.png);
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}
.D05-shop-tab__pet {
  background: $color-thin-green;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    //**************************************//
    //********* 以下、パス指定あり *********//
    //**************************************//
    background-image: url(/image/common/shop-tab-icon-pet.png);
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}
.D05-shop-tab__area {
  background: #fff;
  padding: 15px 11px 50px;
  box-shadow: 0px 0px 6px rgba(52, 52, 52, 0.08);
  min-height: 659px;
}


// D13-category-bar
.D05-category-bar {
  font-size: 14px;
  background-color: $color-bright-green;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  line-height: 1;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
}


// interview-title--optional
.D05-interview-title {
  display: flex;
  align-items: center;
  line-height: 1;
}
.D05-interview-title__text {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
}
.D05-interview-title__icon {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  width: 32px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.D05-interview-title__icon--optional {
  background-color: #bcbcbc;
}
.D05-interview-title__icon--required {
  background-color: #f4451c;
}


// D05-wrapper
.D05-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 22px;
  padding: 0 20px;
}
.D05-wrapper .D05-interview.D05-container:first-of-type {
  margin-right: 100px;
  // width: 379px;
}


// D05-interview
.D05-interview__box:first-child {
  margin-top: 0px;
}
.D05-interview__box.D05-interview__box--prefectures {
  display: flex;
  align-items: center;
}
.D05-interview__box {
  margin-top: 22px;
}
.D05-interview__box2:not(:first-child) {
  margin-left: 10px;
}
.D05-interview__items {
  display: flex;
  align-items: center;
  margin-top: 10.5px;
}
.D05-interview__item.D05-interview__item--name.D05-interview__item.input__wrapper {
  margin-right: 12px;
}
.D05-interview__item:not(:last-child) {
  margin-right: 20px;
}
.D05-interview__item.D05-interview__item--postal-code {
  margin-right: 10px;
}
.D05-interview__item--name span {
  margin-right: 6px;
  font-size: 14px;
}
.D05-interview__item .input__area--default {
  width: 364px;
  height: 46px;
  padding-left: 15px;
  color: $color-text-main;
}
.D05-interview__item--name .input__area--default {
  width: 160px;
  height: 46px;
}
.D05-interview__item--postal-code .input__area--default {
  width: 120px;
  height: 46px;
}
.D05-interview__item--city .input__area--default {
  width: 234px;
}
.D05-interview__item .input__area--default::placeholder {
  color: #D5D5D5;
}
.D05-interview__item--prefectures .pull-down__select {
  width: 120px;
  height: 46px;
  padding-left: 15px;
  color: $color-text-main;
}
.D05-interview__item--prefectures .pull-down__select:invalid {
  color: #D5D5D5;
}
.D05-interview__items .D05-birthday-input__pull-down:not(:last-of-type) {
  margin-right: 10px;
}
.D05-interview__small-button {
  width: 81px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  color: #fff;
  background-color: #888;
  font-size: 14px;
  font-family: 'Lato';
  padding-top: 1px;
}
.D05-interview__textarea {
  margin-top: 15px;
  width: 432px;
  min-height: 140px;
  resize: none;
  padding: 7px 15px;
  border: 0.1rem solid #DEDEDE;
  border-radius: 0.5rem;
}
.D05-interview__textarea::placeholder {
  color: #D5D5D5;
}


// D05-birthday-input
.D05-birthday-input {
  display: flex;
  align-items: center;
}
.D05-birthday-input__pull-down .pull-down__select {
  width: 100px;
  height: 46px;
  background-color: $color-background-base;
  color: $color-text-main;
  padding-left: 15px;
}
.D05-birthday-input__pull-down .pull-down__select:invalid {
  color: #D5D5D5;
}


// D05-button-bar
.D05-button-bar {
  z-index: 30;
}
.D05-button-bar .sub-button {
  margin-right: 16px;
}