.booking-tab{
  width:290px;
  position:relative;
}
.booking-tab__buttons a{
  color: $color-main;
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
  width: 33.3%;
  float: left;
  text-align: center;
}
#booking-tab__lamp{
  width:33.3%;
  height:4px;
  background:$color-main;
  border-radius: 2px;
  display:block;
  position:absolute;
  top:28px;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
#booking-tab__lamp.booking-tab__content2{
  left:33.3%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
#booking-tab__lamp.booking-tab__content3{
  left:66.6%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
#booking-tab__lamp.booking-tab__content1{
  left:0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}