
// inner
.E10-inner {
  background-color: $color-shop-inner;
  padding: 10px;
}

// E10-wrapper
.E10-wrapper {
  background-color: #fff;
  padding: 17px 11px 40px;
  box-shadow: 0 0 6px rgba(#343434, 0.08);
  border-radius: 4px;
  margin-bottom: 100px;
}

// E10-steps
.E10-steps {
  display: flex;
  justify-content: space-between;
  max-width: 663px;
  margin-left: 27px;
  position: relative;
}
.E10-steps::before {
  position: absolute;
  content: "";
  width: 556px;
  height: 4px;
  left: 50%;
  bottom: 12px;
  transform: translate(-50%);
  background-color: $color-main;
}

// E10-step
.E10-step {
  // width: 25%;
  text-align: center;
  font-size: 12px;
  line-height: 1.75;
}
.E10-step__title {
  font-family: "Lato";
  color: $color-main;
}
.E10-step__subtitle {
  line-height: 1;
  margin-top: 3px;
}
.E10-step__circle {
  display: inline-block;
}
.E10-step__circle--current-not {
  margin-top: 11px;
  width: 11px;
  height: 11px;
  background-color: $color-main;
  border-radius: 50%;
}
.E10-step__circle--current {
  margin-top: 7px;
  width: 19px;
  height: 19px;
  border: 4px solid #e7ecd7;
  background-color: $color-main;
  border-radius: 50%;
}

// E10-category-bar
.E10-category-bar {
  margin-top: 16px;
}
.E10-category-bar__title {
  font-size: 14px;
  background-color: $color-bright-green;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  line-height: 1;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
}

// E10-table3
.E10-table3 {
  margin-top: 20px;
  margin-left: 20px;
}
.E10-table3:not(:first-of-type) {
  margin-top: 50px;
}
.E10-table3.table3 th {
  padding: 11px 10px;
  vertical-align: text-top;
  line-height: 1.5;
}
.E10-table3.table3 td {
  padding: 5px 10px;
  line-height: 1.5;
}
.E10-table3.table3 td,
.E10-table3.E10-table3--second.table3 td {
  width: 535px;
}
.E10-table3.E10-table3--second.table3 th,
.E10-table3.E10-table3--second.table3 td,
.E10-table3.E10-table3--third.table3 th,
.E10-table3.E10-table3--third.table3 td {
  padding: 10.8px 20px;
}
.E10-table3.E10-table3--third.table3 th {
  width: 280px;
}
.E10-table3.E10-table3--third.table3 td {
  width: 406px;
}

// E10-edit-button
.E10-edit-button {
  text-align: center;
  margin-top: 19px;
}
.E10-edit-button .sub-button {
  height: 48px;
}
