.c06__mrnr__background {
    height: 768px;
    background: $color-icon-default;

    .c06__mrnr__container--white {
        width: 863px;
        height: 144px;
        background: $color-background-base;
        margin: 312px 80px 312px 81px;
        display: inline-block;
        border-radius: 10px;

        .c06__mrnr__main__wrapper {
            width: 801px;
            height: 97px;
            margin: 24px 35px 23px 27px;

            .c06__mrnr__txt--reservations-available {
                background: $color-thin-green;
                border-radius: 10px;
                display: inline-block;
                font-size: 18px;
                color: $color-main;
                padding: 34px 51px 35px 52px;
                position: relative;
                vertical-align: top;
            }

            .c06__mrnr__reservation-details__wrapper {
                display: inline-block;
                margin-left: 19px;

                .c06__mrnr__txt__reservation-details {
                    font-size: 16px;


                }


            }

            .c06__mrnr__btn--orange {
                display: inline-block;
                position: absolute;
                top: 360px;
                left: 692px;
            }

        }


    }


}